
.hero {
    height: 600px;
    position: relative; /* Add this to make the SVG position relative to .hero */
}
.img{
  width: 44px;
  display: flex;
  justify-content: end;
}

.herotext {
    padding: 100px;
    margin-left: 100px;
    font-size: xxx-large;
    width: fit-content;
    display: flex;
}

.svg-background {
    position: absolute;
  width: 191%;
  height: 91%;
  top: 0;
  left: -92%;
  z-index: -1;
  transform: rotate(337deg);
}
.svg-backgroundd {
    position: absolute;
  width: 191%;
  height: 124%;
  top: 0;
  left: 52%;
  z-index: -1;
  transform: rotate(358deg);

}

.svgg{
  width: 63%;


}
.svggg{
  justify-content: center;
  display: flex;
}



/*animation*/
.herotext h1 {
  animation-name: slideInFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Add animation to the last SVG */
.svg-backgroundd {
  animation: moveBackground 10s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120);
  }
}
